<!DOCTYPE html>
<html>

<head>
    <title class="text-center">Veronica Vavra Of Czech Republic</title>
    {% include 'bootstrap.html' %}

</head>

<body>
    {% include 'nav.html' %}
    {% include 'verbanner.html' %}

    <div class="container">
        <h1 class="text-center"> This is Veronica</h1>
        <div class="row" style="margin-bottom:16px">
            <div class="col-md-6">
                <p class="lead">
                    Verunka je žena mého srdce, je mi tak drahá.
                    krátký jako ďábel!
                    sexy a nejkrásnější žena, jakou znám!
                    Je hrdá na to, že je jedinou Češkou na svém pracovišti.
                    Miluji ji jako blázen, i když většinu času umí být zlobivá
                    moje sexy krátké prasátko
                </p>

            
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>

        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>